In [3]:
import csv
def top_5_emp(d3):
  d3.sort(key = lambda x : int(x[3]),reverse=True)
  print("sorted Data",d3)

  print("\n\nTop1 Employee",d3[0][1])
  print("Top2 Employee",d3[1][1])
  print("Top3 Employee",d3[2][1])
  print("Top4 Employee",d3[3][1])
  print("Top5 Employee",d3[4][1])

f1 = open("/content/emp.csv","r")
f2 = open("sal.csv","r")
f3 = open("emp_sal.csv","w")

d1=list(csv.reader(f1,delimiter=','))
d2=list(csv.reader(f2,delimiter=','))

print("\n\nFile1 Contents:",d1)
print("\n\nFile2 Contents:",d2)

d3 = []
for i in range(len(d1)):
   d3.append(d1[i] + d2[i])

print(d3)
cw = csv.writer(f3)
cw.writerows(d3)

top_5_emp(d3)

f1.close()
f2.close()
f3.close()

File1 Contents: [['1', 'Sanvi', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000'], ['3', 'Jayesh', 'Manager', '80000'], ['4', 'Gouri', 'Sr. Manager', '95000'], ['5', 'Mahesh', 'Supervisor', '500000']]


File2 Contents: [['1', 'Manager', '100000'], ['2', 'Sr. Manager', '150000'], ['3', 'Manager', '90500'], ['4', 'Sr. Manager', '100500'], ['5', 'Supervisor', '85000']]
[['1', 'Sanvi', 'Manager', '100000', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '2', 'Sr. Manager', '150000'], ['3', 'Jayesh', 'Manager', '80000', '3', 'Manager', '90500'], ['4', 'Gouri', 'Sr. Manager', '95000', '4', 'Sr. Manager', '100500'], ['5', 'Mahesh', 'Supervisor', '500000', '5', 'Supervisor', '85000']]
sorted Data [['5', 'Mahesh', 'Supervisor', '500000', '5', 'Supervisor', '85000'], ['1', 'Sanvi', 'Manager', '100000', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '2', 'Sr. Manager', '150000'], ['4', 'Gouri', 'Sr. Manager', '95000', '4', 'Sr. Manager', '100500'], ['3', 'Jayesh', 'Manager', '80000', '3', 'Manager', '90500']]


Top1 Employee Mahesh
Top2 Employee Sanvi
Top3 Employee Mrunmayee
Top4 Employee Gouri
Top5 Employee Jayesh